
 a:hover {
     text-decoration: none;
}
.singleApp_pack__QiuBQ {
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important
}

.singleApp_single__cm8h4 {
    background-color: var(--card-bg);
    padding: 20px;
    border: 5px solid var(--card-bg);
    border-radius: 10px;
    overflow: hidden;
    transition: all .1s ease-in-out;
    box-shadow: 0 3px 5px #00000026;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

    .singleApp_single__cm8h4:focus {
        opacity: .75
    }

    .singleApp_single__cm8h4 h3 {
        display: flex;
        align-items: center;
        position: relative
    }

        .singleApp_single__cm8h4 h3 a {
            color: inherit;
            text-decoration: none;
            transition: all .3s ease-in-out;
            margin-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
            display: grid;
            grid-template-columns: 35px 1fr
        }

            .singleApp_single__cm8h4 h3 a:active, .singleApp_single__cm8h4 h3 a:focus, .singleApp_single__cm8h4 h3 a:hover {
                opacity: .76
            }

        .singleApp_single__cm8h4 h3 p {
            text-align: left;
            margin: 0;
            padding: 0
        }

        .singleApp_single__cm8h4 h3 img {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 25px;
            height: 25px;
            display: inline-block;
            margin-right: 10px;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden
        }

    .singleApp_single__cm8h4 h3, .singleApp_single__cm8h4 h4 {
        margin-top: 0;
        margin-bottom: 5px
    }

    .singleApp_single__cm8h4 h4 {
        opacity: .75
    }

        .singleApp_single__cm8h4 h4 a {
            color: var(--textColor);
            text-decoration: none;
            font-weight: 300
        }

            .singleApp_single__cm8h4 h4 a svg {
                display: inline-block;
                padding-right: 10px
            }

    .singleApp_single__cm8h4 em {
        font-style: normal;
        font-size: 15px;
        opacity: .75
    }

    .singleApp_single__cm8h4 p {
        margin: 10px 0
    }

    .singleApp_single__cm8h4 .singleApp_subtle__9UHuk {
        padding: 0 !important;
        background-color: transparent !important;
        box-shadow: none !important;
        font-size: 15px !important;
        opacity: .55;
        font-family: Nunito,sans-serif;
        border: 0;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        outline: 0;
        color: var(--textColor);
        cursor: pointer
    }

        .singleApp_single__cm8h4 .singleApp_subtle__9UHuk:hover {
            opacity: .75
        }

        .singleApp_single__cm8h4 .singleApp_subtle__9UHuk svg {
            padding-right: 10px !important;
            margin-top: 0 !important;
            font-size: 18px !important
        }

    .singleApp_single__cm8h4 .singleApp_versions__5gR7h {
        position: relative;
        width: 100%
    }

        .singleApp_single__cm8h4 .singleApp_versions__5gR7h span {
            font-size: 14px;
            margin-top: 20px;
            display: block
        }

        .singleApp_single__cm8h4 .singleApp_versions__5gR7h svg {
            position: absolute;
            right: 0;
            pointer-events: none
        }

        .singleApp_single__cm8h4 .singleApp_versions__5gR7h .singleApp_versionSelector__2Nowu {
            border: 0;
            width: 100%;
            background-color: transparent;
            color: inherit;
            border-radius: 50px;
            padding: 0;
            cursor: pointer;
            -webkit-appearance: none;
            outline: 0;
            font-size: inherit;
            font-family: Nunito,sans-serif;
            position: absolute;
            top: -15px;
            height: 50px;
            transition: all .3s ease-in-out
        }

            .singleApp_single__cm8h4 .singleApp_versions__5gR7h .singleApp_versionSelector__2Nowu option {
                background-color: var(--card-bg);
                color: var(--textColor)
            }

    .singleApp_single__cm8h4 .singleApp_metaData__Hhyft {
        list-style-type: none;
        padding: 0;
        margin-top: auto
    }

        .singleApp_single__cm8h4 .singleApp_metaData__Hhyft .singleApp_hover__jEhuU {
            cursor: pointer
        }

            .singleApp_single__cm8h4 .singleApp_metaData__Hhyft .singleApp_hover__jEhuU:hover {
                opacity: .75
            }

        .singleApp_single__cm8h4 .singleApp_metaData__Hhyft li {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 15px
        }

            .singleApp_single__cm8h4 .singleApp_metaData__Hhyft li a {
                text-decoration: none;
                color: inherit;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all .3s ease-in-out;
                width: 100%
            }

                .singleApp_single__cm8h4 .singleApp_metaData__Hhyft li a:hover {
                    opacity: .75
                }

            .singleApp_single__cm8h4 .singleApp_metaData__Hhyft li svg {
                width: 18px;
                height: 18px;
                padding-right: 10px
            }

            .singleApp_single__cm8h4 .singleApp_metaData__Hhyft li:last-child {
                margin-bottom: 0
            }

    .singleApp_single__cm8h4 .singleApp_selectApp__yI4Bq {
        background-color: var(--main-bg) !important;
        border-radius: 50px;
        text-decoration: none;
        color: var(--textColor);
        box-shadow: 0 3px 5px rgba(0,0,0,.18);
        transition: all .3s ease-in-out;
        cursor: pointer;
        border: 0;
        width: 35px !important;
        height: 35px !important;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        flex-shrink: 0;
        padding: 0 !important
    }

        .singleApp_single__cm8h4 .singleApp_selectApp__yI4Bq svg {
            padding-right: 0 !important;
            margin-top: 0 !important;
            width: 20px;
            height: 20px;
            color: var(--textColor);
            transition: all .1s ease-in-out
        }

        .singleApp_single__cm8h4 .singleApp_selectApp__yI4Bq:active, .singleApp_single__cm8h4 .singleApp_selectApp__yI4Bq:focus {
            opacity: .7 !important
        }

        .singleApp_single__cm8h4 .singleApp_selectApp__yI4Bq:hover {
            opacity: .75
        }

.singleApp_selected__c6X4k {
    border: 5px solid var(--accent)
}

    .singleApp_selected__c6X4k .singleApp_selectApp__yI4Bq {
        background-color: var(--accent) !important;
        color: #fff
    }

        .singleApp_selected__c6X4k .singleApp_selectApp__yI4Bq svg {
            transform: rotate(45deg);
            color: #fff
        }

@media(max-width:690px) {
    .singleApp_single__cm8h4 {
        padding: 10px
    }
}

.singleApp_large__eILl0 {
    list-style-type: none;
    padding: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    overflow: visible
}

    .singleApp_large__eILl0 h3 {
        font-size: 30px;
        display: grid;
        grid-template-columns: 40px 1fr
    }

    .singleApp_large__eILl0 p {
        font-size: 18px;
        line-height: 28px
    }

    .singleApp_large__eILl0 .singleApp_metaData__Hhyft {
        margin-top: 20px
    }

        .singleApp_large__eILl0 .singleApp_metaData__Hhyft li {
            font-size: 18px;
            margin-bottom: 15px
        }

            .singleApp_large__eILl0 .singleApp_metaData__Hhyft li a {
                width: auto !important
            }

            .singleApp_large__eILl0 .singleApp_metaData__Hhyft li svg {
                width: 25px !important;
                height: 25px !important
            }

    .singleApp_large__eILl0 .singleApp_selectApp__yI4Bq {
        background-color: var(--card-bg) !important;
        font-size: 18px !important;
        padding: 10px 25px !important;
        align-self: start !important;
        margin-top: 20px !important;
        margin-left: 0 !important;
        width: auto !important;
        height: auto !important
    }

        .singleApp_large__eILl0 .singleApp_selectApp__yI4Bq svg {
            margin-right: 10px !important
        }

.singleApp_selected__c6X4k.singleApp_large__eILl0 .singleApp_selectApp__yI4Bq {
    background-color: var(--accent) !important;
    color: #fff
}

.singleApp_tags__OX9nu {
    margin: 0
}

    .singleApp_tags__OX9nu ul {
        list-style-type: none;
        padding: 0;
        margin: 10px 0 0
    }

        .singleApp_tags__OX9nu ul li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px
        }

            .singleApp_tags__OX9nu ul li a {
                text-decoration: none;
                padding: 5px 10px;
                border: 2px solid var(--card-bg);
                border-radius: 15px;
                color: var(--textColor);
                display: inline-block;
                font-size: 14px;
                box-shadow: 0 3px 5px rgba(0,0,0,.18);
                transition: all .3s ease-in-out
            }

                .singleApp_tags__OX9nu ul li a:active, .singleApp_tags__OX9nu ul li a:focus, .singleApp_tags__OX9nu ul li a:hover {
                    background-color: var(--accent);
                    border: 2px solid var(--accent);
                    color: #fff
                }

.singleApp_largeAppButtons__Q0Pi6 {
    display: flex
}

    .singleApp_largeAppButtons__Q0Pi6 .singleApp_shareApp__SKgx5 {
        margin-left: 10px !important;
        height: 44px !important;
        margin-top: 20px !important;
        background-color: transparent;
        border: 3px solid var(--card-bg)
    }

.singleApp_noIcon__EjAU7 {
    background-image: linear-gradient(12deg,#6e1bdc,#f138a7 100%);
    width: 25px;
    height: 25px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.singleApp_noBorder__cUbj_ {
    border: 0;
    padding: 15px !important;
    background-color: var(--card-bg) !important;
    border-radius: 10px !important;
    box-shadow: 0 3px 5px #00000026 !important
}

.singleApp_copy__InUaX {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: var(--card-bg);
    border-radius: 10px;
    font-size: 16px;
    font-family: monospace;
    margin-bottom: 10px;
    color: var(--textColor);
    overflow: hidden;
    cursor: pointer
}

    .singleApp_copy__InUaX .singleApp_clipboard__FvmEE {
        margin-left: auto
    }

    .singleApp_copy__InUaX span {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 0 10px;
        opacity: 1
    }

    .singleApp_copy__InUaX .singleApp_copiedText__kH197 {
        -webkit-animation: singleApp_fadeInOut__IaWYi 2s linear forwards;
        animation: singleApp_fadeInOut__IaWYi 2s linear forwards
    }

    .singleApp_copy__InUaX .singleApp_installCommand__NOV0I {
        -webkit-animation: singleApp_fadeIn__E8FND .5s linear forwards;
        animation: singleApp_fadeIn__E8FND .5s linear forwards
    }

    .singleApp_copy__InUaX svg {
        flex-shrink: 0
    }

.singleApp_active__2Ey8a.singleApp_copy__InUaX {
    -webkit-animation: singleApp_slowBg__llFn9 2s linear forwards;
    animation: singleApp_slowBg__llFn9 2s linear forwards
}

@-webkit-keyframes singleApp_fadeInOut__IaWYi {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes singleApp_fadeInOut__IaWYi {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes singleApp_fadeIn__E8FND {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes singleApp_fadeIn__E8FND {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes singleApp_slowBg__llFn9 {
    0% {
        background-color: var(--card-bg)
    }

    50% {
        background-color: var(--positive-bg)
    }

    to {
        background-color: var(--card-bg)
    }
}

@keyframes singleApp_slowBg__llFn9 {
    0% {
        background-color: var(--card-bg)
    }

    50% {
        background-color: var(--positive-bg)
    }

    to {
        background-color: var(--card-bg)
    }
}

.appList_appList__Lqce0 {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 15px
}

    .appList_appList__Lqce0 h3 {
        padding-bottom: 0
    }

@media(max-width:1300px) {
    .appList_popularList__wSCQd {
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr))
    }
}

@media(max-width:500px) {
    .appList_popularList__wSCQd {
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr))
    }
}

.search_searchLabel__qOoop {
    display: block;
    padding-bottom: 10px
}

.search_searchBox__Wp2tF {
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    border-radius: 50px;
    height: 50px;
    background-color: var(--card-bg);
    display: inline-block;
    line-height: 55px;
    position: relative
}

    .search_searchBox__Wp2tF .search_searchInner__H1NY2 {
        display: flex;
        justify-content: flex-start;
        align-items: center
    }

    .search_searchBox__Wp2tF .search_tip__qrYQ6 {
        position: absolute;
        right: -40px;
        top: 0
    }

        .search_searchBox__Wp2tF .search_tip__qrYQ6 a {
            display: inline-block;
            color: inherit;
            margin-top: 2px
        }

        .search_searchBox__Wp2tF .search_tip__qrYQ6:focus-within .search_tipData__1Ut8z {
            opacity: 1;
            pointer-events: auto
        }

        .search_searchBox__Wp2tF .search_tip__qrYQ6 svg {
            width: 20px;
            height: 20px;
            padding-left: 0 !important;
            cursor: pointer;
            transition: all .3s ease-in-out
        }

            .search_searchBox__Wp2tF .search_tip__qrYQ6 svg:hover {
                opacity: .65
            }

        .search_searchBox__Wp2tF .search_tip__qrYQ6 .search_tipData__1Ut8z {
            opacity: 0;
            pointer-events: none;
            background-color: var(--accent);
            color: #fff;
            box-shadow: 0 3px 25px rgba(0,0,0,.15);
            padding: 20px;
            border-radius: 10px;
            position: absolute;
            top: 50px;
            z-index: 9;
            min-width: 320px;
            transition: all .3s ease-in-out
        }

            .search_searchBox__Wp2tF .search_tip__qrYQ6 .search_tipData__1Ut8z p {
                margin: 0 0 10px;
                line-height: 18px
            }

            .search_searchBox__Wp2tF .search_tip__qrYQ6 .search_tipData__1Ut8z ul {
                padding: 0;
                list-style-type: none;
                margin: 0
            }

                .search_searchBox__Wp2tF .search_tip__qrYQ6 .search_tipData__1Ut8z ul li {
                    padding: 0;
                    line-height: 20px;
                    margin: 0 0 5px
                }

                    .search_searchBox__Wp2tF .search_tip__qrYQ6 .search_tipData__1Ut8z ul li code {
                        background-color: var(--card-bg);
                        color: var(--textColor);
                        padding: 2px 5px;
                        border-radius: 2px
                    }

    .search_searchBox__Wp2tF svg {
        padding-left: 15px
    }

    .search_searchBox__Wp2tF input[type=text] {
        border: 0;
        outline: 0;
        background-color: transparent;
        height: 50px;
        padding: 0 15px;
        font-size: 17px;
        min-width: 210px;
        color: var(--textColor)
    }

    .search_searchBox__Wp2tF .search_searchHint___qirW {
        margin-top: 0
    }

@media(max-width:495px) {
    .search_searchBox__Wp2tF {
        width: 100%
    }

        .search_searchBox__Wp2tF input[type=text] {
            width: calc(100% - 65px) !important
        }
}

.search_noresults___fLqj {
    position: absolute
}

@media(max-width:790px) {
    .search_tip__qrYQ6 {
        display: none
    }
}

.prettyApp_app__csxfj {
    background-color: var(--card-bg);
    padding: 20px;
    border: 5px solid var(--card-bg);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all .1s ease-in-out;
    box-shadow: 0 3px 5px rgba(0,0,0,.15)
}

    .prettyApp_app__csxfj .prettyApp_imgContainer__ZYSkU {
        min-height: 80px;
        position: relative
    }

        .prettyApp_app__csxfj .prettyApp_imgContainer__ZYSkU img {
            width: 80px;
            height: auto;
            margin: 0 auto;
            display: block;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%)
        }

    .prettyApp_app__csxfj:hover {
        opacity: .75
    }

    .prettyApp_app__csxfj h3 {
        margin-top: 0;
        margin-bottom: 5px
    }

        .prettyApp_app__csxfj h3 img {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 25px;
            height: 25px;
            display: inline-block;
            padding-right: 5px
        }

    .prettyApp_app__csxfj .prettyApp_moreInfo__QdzEa, .prettyApp_app__csxfj .prettyApp_moreInfo__QdzEa span {
        display: flex;
        align-items: center;
        justify-content: center
    }

        .prettyApp_app__csxfj .prettyApp_moreInfo__QdzEa span {
            opacity: .75;
            font-size: 15px;
            transition: all .3s ease-in-out;
            border-bottom: 3px solid transparent;
            padding-bottom: 3px;
            padding-top: 5px
        }

            .prettyApp_app__csxfj .prettyApp_moreInfo__QdzEa span svg {
                transition: all .3s ease-in-out
            }

            .prettyApp_app__csxfj .prettyApp_moreInfo__QdzEa span:hover svg {
                padding-left: 5px
            }

.prettyApp_selected__TrpKv {
    border: 5px solid var(--accent)
}

.prettyApp_imgHeader__FkohJ {
    text-align: center;
    padding: 20px;
    margin: 0
}

@media(max-width:690px) {
    .prettyApp_imgContainer__ZYSkU {
        min-height: 50px !important
    }

        .prettyApp_imgContainer__ZYSkU img {
            width: 50px !important
        }
}

.packsAppList_appsList__lMRRq {
    list-style-type: none;
    padding: 0;
    margin: 0
}

    .packsAppList_appsList__lMRRq div.packsAppList_appCard__ZpAgU {
        margin-bottom: 20px;
        background-color: var(--card-bg);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 3px 5px #00000026;
        position: relative
    }

    .packsAppList_appsList__lMRRq li {
        border: 0 !important;
        overflow: visible
    }

        .packsAppList_appsList__lMRRq li div {
            margin-bottom: 0
        }

    .packsAppList_appsList__lMRRq .packsAppList_unselectApp___2fFk {
        position: absolute;
        right: 15px;
        top: 15px;
        background-color: var(--main-bg) !important;
        border-radius: 50px;
        color: var(--textColor);
        box-shadow: 0 3px 5px rgba(0,0,0,.18);
        transition: all .3s ease-in-out;
        cursor: pointer;
        border: 0;
        width: 35px !important;
        height: 35px !important;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 !important
    }

        .packsAppList_appsList__lMRRq .packsAppList_unselectApp___2fFk svg {
            padding-right: 0 !important;
            margin-top: 0 !important;
            width: 20px;
            height: 20px;
            color: var(--textColor);
            transition: all .1s ease-in-out;
            transform: rotate(45deg)
        }

        .packsAppList_appsList__lMRRq .packsAppList_unselectApp___2fFk:active, .packsAppList_appsList__lMRRq .packsAppList_unselectApp___2fFk:focus {
            opacity: .7 !important
        }

        .packsAppList_appsList__lMRRq .packsAppList_unselectApp___2fFk:hover {
            opacity: .75
        }

.packsAppList_noDragList__pHDbq {
    display: grid;
    grid-gap: 16px
}

    .packsAppList_noDragList__pHDbq div.packsAppList_appCard__ZpAgU {
        margin-bottom: 0
    }

.packsAppList_addModal__uzn3I {
    position: absolute;
    outline: none;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--main-bg);
    border: 3px solid var(--accent);
    top: 50%;
    left: 50%;
    min-width: 700px;
    min-height: 450px;
    transform: translate(-50%,-50%);
    box-shadow: 0 3px 15px rgba(0,0,0,.18)
}

    .packsAppList_addModal__uzn3I .packsAppList_modalHeader__7MYB7 {
        display: flex;
        justify-content: space-between;
        place-items: center;
        margin-bottom: 10px
    }

        .packsAppList_addModal__uzn3I .packsAppList_modalHeader__7MYB7 h2 {
            margin: 0
        }

        .packsAppList_addModal__uzn3I .packsAppList_modalHeader__7MYB7 svg {
            vertical-align: middle;
            font-size: 25px;
            transition: all .3s ease-in-out;
            cursor: pointer
        }

            .packsAppList_addModal__uzn3I .packsAppList_modalHeader__7MYB7 svg:hover {
                opacity: .75
            }

.packsAppList_modalOverlay__0RzRr {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.35)
}

@media(max-width:790px) {
    .packsAppList_addModal__uzn3I {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: 0;
        transform: none;
        box-sizing: border-box;
        border-radius: 0
    }
}

.packPreview_packCard___kmBv {
    background-color: var(--card-bg);
    border-radius: 10px;
    overflow: hidden;
    transition: all .1s ease-in-out;
    box-shadow: 0 3px 5px #00000026;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--textColor);
    text-decoration: none;
    height: 100%
}

    .packPreview_packCard___kmBv .packPreview_singleIcon__qNdQ2 ul {
        display: flex !important
    }

    .packPreview_packCard___kmBv .packPreview_packIcons__6UPTv {
        justify-content: center;
        background-image: linear-gradient(160deg,#9708cc,#0078d7);
        padding: 20px;
        min-height: 100px;
        border-radius: 10px 10px 0 0
    }

        .packPreview_packCard___kmBv .packPreview_packIcons__6UPTv ul {
            list-style-type: none;
            padding: 0;
            display: grid;
            grid-gap: 10px;
            grid-auto-flow: row;
            grid-template-columns: repeat(4,1fr)
        }

            .packPreview_packCard___kmBv .packPreview_packIcons__6UPTv ul li {
                background-color: #fff;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: grid;
                place-items: center;
                box-shadow: 0 3px 5px #00000026
            }

                .packPreview_packCard___kmBv .packPreview_packIcons__6UPTv ul li img, .packPreview_packCard___kmBv .packPreview_packIcons__6UPTv ul li picture {
                    width: 25px;
                    height: 25px;
                    margin: 0 auto
                }

    .packPreview_packCard___kmBv .packPreview_packMeta__YKocx {
        padding: 20px;
        transition: all .1s ease-in-out;
        flex-grow: 1;
        display: flex;
        flex-direction: column
    }

        .packPreview_packCard___kmBv .packPreview_packMeta__YKocx h3 {
            margin: 0;
            color: var(--textColor)
        }

        .packPreview_packCard___kmBv .packPreview_packMeta__YKocx a {
            text-decoration: none
        }

        .packPreview_packCard___kmBv .packPreview_packMeta__YKocx p {
            margin: 5px 0
        }

        .packPreview_packCard___kmBv .packPreview_packMeta__YKocx .packPreview_includes__P83RM {
            opacity: .75;
            font-size: 16px
        }

        .packPreview_packCard___kmBv .packPreview_packMeta__YKocx a {
            display: inline-block
        }

.packPreview_delete__bDghs:hover {
    opacity: 1 !important
}

.packPreview_packEdit__eCEjv {
    display: flex;
    vertical-align: middle
}

.recommendations_recommendations__ltVyY {
    margin: 16px 0;
    display: grid;
   /* grid-template-columns: repeat(auto-fill,minmax(300px,1fr));*/
    grid-gap: 15px
}

@media(max-width:450px) {
    .recommendations_recommendations__ltVyY {
        grid-template-columns: 1fr
    }
}

@-webkit-keyframes recommendations_bounce__QljhU {
    0%,to {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-5px)
    }
}

@keyframes recommendations_bounce__QljhU {
    0%,to {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-5px)
    }
}

.recommendations_packHeader__xy35c {
    display: block;
    border-radius: 10px 10px 0 0;
    color: #fff;
    padding: 30px 20px 10px;
    text-decoration: none;
    cursor: pointer
}

    .recommendations_packHeader__xy35c:hover {
        opacity: .85
    }

        .recommendations_packHeader__xy35c:hover svg {
            -webkit-animation: recommendations_bounce__QljhU .8s ease-in-out infinite forwards;
            animation: recommendations_bounce__QljhU .8s ease-in-out infinite forwards
        }

    .recommendations_packHeader__xy35c svg {
        font-size: 20px;
        transition: all .3s ease-in-out
    }

    .recommendations_packHeader__xy35c h3 {
        margin: 0;
        padding-bottom: 5px
    }

    .recommendations_packHeader__xy35c p {
        margin: 0;
        opacity: .85
    }

.recommendations_recommendation__DW1Y_ {
    background-color: var(--card-bg);
    border-radius: 10px;
    overflow: hidden;
    transition: all .1s ease-in-out;
    box-shadow: 0 3px 5px #00000026
}

.recommendations_packListContainer__MzQWG {
    padding: 20px
}

    .recommendations_packListContainer__MzQWG h3 {
        border-bottom: 3px solid var(--accent);
        padding: 0;
        margin: 0 0 20px
    }

.recommendations_appContainer__v8Eyb {
    display: flex;
    justify-content: flex-start;
    vertical-align: middle;
    margin-bottom: 10px
}

    .recommendations_appContainer__v8Eyb a {
        display: flex;
        color: inherit;
        text-decoration: none;
        transition: all .3s ease-in-out
    }

        .recommendations_appContainer__v8Eyb a:hover {
            opacity: .75
        }

    .recommendations_appContainer__v8Eyb img {
        width: 25px;
        height: 25px;
        margin-right: 10px
    }

    .recommendations_appContainer__v8Eyb h4 {
        margin: 0;
        line-height: 30px
    }

    .recommendations_appContainer__v8Eyb .recommendations_selectApp__3fD0y {
        text-decoration: none;
        color: var(--textColor);
        transition: all .3s ease-in-out;
        cursor: pointer;
        border: 0;
        background-color: transparent;
        outline: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        flex-shrink: 0;
        padding: 0 !important
    }

        .recommendations_appContainer__v8Eyb .recommendations_selectApp__3fD0y svg {
            padding-right: 0 !important;
            margin-top: 0 !important;
            width: 20px;
            height: 20px;
            color: var(--textColor);
            transition: all .1s ease-in-out
        }

        .recommendations_appContainer__v8Eyb .recommendations_selectApp__3fD0y:active, .recommendations_appContainer__v8Eyb .recommendations_selectApp__3fD0y:focus {
            opacity: .7 !important
        }

        .recommendations_appContainer__v8Eyb .recommendations_selectApp__3fD0y:hover {
            opacity: .75
        }

.recommendations_selected__v_2OD .recommendations_selectApp__3fD0y svg {
    transform: rotate(45deg);
    color: var(--accent)
}

.recommendations_selected__v_2OD .recommendations_selectApp__3fD0y:active, .recommendations_selected__v_2OD .recommendations_selectApp__3fD0y:focus {
    opacity: 1 !important
}

.recommendations_viewPack__2WCxE svg {
    transition: all .3s ease-in-out
}

.recommendations_viewPack__2WCxE:hover svg {
    padding-left: 5px
}

.footer_footer__CKQ67 {
    margin-top: 30px;
    font-size: 20px;
    display: flex;
    padding: 20px 0;
    justify-content: space-between
}

    .footer_footer__CKQ67 .footer_brand__kcFl5 {
        display: flex;
        justify-content: flex-start
    }

        .footer_footer__CKQ67 .footer_brand__kcFl5 p {
            font-size: 17px;
            margin: 2px 0 0;
            opacity: .75
        }

    .footer_footer__CKQ67 a {
        color: var(--textColor);
        text-decoration: none;
        transition: all .3s ease-in-out
    }

        .footer_footer__CKQ67 a:hover {
            color: var(--accent)
        }

    .footer_footer__CKQ67 img {
        width: 35px;
        height: 16.5px;
        transition: all .3s ease-in-out;
        padding-top: 5px;
        cursor: pointer;
        margin-right: 10px
    }

        .footer_footer__CKQ67 img:hover {
            opacity: .75
        }

    .footer_footer__CKQ67 .footer_heart__HcYGL {
        color: #af0d16
    }

    .footer_footer__CKQ67 ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        font-size: 17px
    }

        .footer_footer__CKQ67 ul li {
            margin-left: 20px
        }

            .footer_footer__CKQ67 ul li a {
                opacity: .75
            }

                .footer_footer__CKQ67 ul li a:hover {
                    opacity: 1
                }

.footer_backToTop__u73Zt {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--card-bg);
    color: var(--textColor);
    cursor: pointer;
    border-radius: 50%;
    transition: all .3s ease-in-out;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    opacity: .75;
    text-align: center;
    width: 50px;
    height: 50px;
    justify-content: center;
    font-size: 22px;
    animation: footer_fadeIn__k8SpZ 1s ease;
    -webkit-animation: footer_fadeIn__k8SpZ 1s ease;
    -moz-animation: footer_fadeIn__k8SpZ 1s ease;
    -o-animation: footer_fadeIn__k8SpZ 1s ease;
    -ms-animation: footer_fadeIn__k8SpZ 1s ease
}

    .footer_backToTop__u73Zt svg {
        padding-top: 15px
    }

    .footer_backToTop__u73Zt:focus, .footer_backToTop__u73Zt:hover {
        opacity: 1;
        color: var(--textColor) !important
    }

@keyframes footer_fadeIn__k8SpZ {
    0% {
        opacity: 0
    }

    to {
        opacity: .75
    }
}

@-webkit-keyframes footer_fadeIn__k8SpZ {
    0% {
        opacity: 0
    }

    to {
        opacity: .75
    }
}

@media(max-width:1490px)and (min-width:791px) {
    .footer_selectionOpen__4Hjxk.footer_backToTop__u73Zt {
        bottom: 90px
    }
}

@media(max-width:791px) {
    .footer_brand__kcFl5 p {
        display: none
    }
}

@media(max-width:490px) {
    .footer_footer__CKQ67 {
        flex-direction: column;
        justify-content: center
    }

        .footer_footer__CKQ67 .footer_brand__kcFl5 {
            display: inline-block;
            margin: 0 auto 10px
        }

        .footer_footer__CKQ67 ul {
            justify-content: center;
            font-size: 15px;
            display: grid;
            grid-auto-flow: column;
            grid-gap: 10px
        }

            .footer_footer__CKQ67 ul li {
                padding: 0;
                margin: 0
            }
}

.featurePromoter_container__Z03Xs {
    min-height: 300px;
    transition: all .1s ease-in-out;
    box-shadow: 0 3px 5px #00000026;
    padding: 20px 50px;
    border-radius: 10px;
    position: relative
}

    .featurePromoter_container__Z03Xs img {
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none;
        opacity: .75
    }

    .featurePromoter_container__Z03Xs .featurePromoter_slogan__qF_BH {
        position: absolute;
        bottom: 50px;
        color: #fff
    }

        .featurePromoter_container__Z03Xs .featurePromoter_slogan__qF_BH h3 {
            margin: 0
        }

        .featurePromoter_container__Z03Xs .featurePromoter_slogan__qF_BH h1 {
            margin: 0;
            max-width: 600px
        }

    .featurePromoter_container__Z03Xs .featurePromoter_hide__xe_1i {
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50px;
        border: 0;
        outline: 0;
        width: 40px;
        height: 40px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .1s ease-in-out;
        cursor: pointer
    }

        .featurePromoter_container__Z03Xs .featurePromoter_hide__xe_1i:hover {
            opacity: .75
        }

@media(max-width:1300px) {
    .featurePromoter_container__Z03Xs img {
        max-width: 500px
    }
}

@media(max-width:995px) {
    .featurePromoter_container__Z03Xs img {
        max-width: 450px
    }
}

@media(max-width:900px) {
    .featurePromoter_container__Z03Xs {
        padding: 15px 30px
    }

        .featurePromoter_container__Z03Xs img {
            display: none
        }
}

@media(max-width:750px) {
    .featurePromoter_container__Z03Xs {
        min-height: auto;
        height: auto
    }

        .featurePromoter_container__Z03Xs .featurePromoter_slogan__qF_BH {
            position: static;
            padding: 30px 0
        }

        .featurePromoter_container__Z03Xs h1 {
            font-size: 22px
        }
}

.error_error__UgGu7 {
    margin: 50px 0;
    text-align: center
}

    .error_error__UgGu7 img {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }

.error_btnError__QNqlh {
    background-color: var(--card-bg);
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 15px;
    display: inline-block;
    text-decoration: none;
    color: var(--textColor);
    font-size: 18px;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    transition: all .3s ease-in-out;
    cursor: pointer;
    border: 0;
    outline: 0
}

    .error_btnError__QNqlh div {
        display: flex
    }

    .error_btnError__QNqlh:focus, .error_btnError__QNqlh:hover {
        opacity: .75
    }

    .error_btnError__QNqlh svg {
        padding-right: 10px;
        font-size: 20px
    }

.home_intro__fqxcS {
    padding-top: 50px;
    margin-bottom: 50px
}

    .home_intro__fqxcS h1 {
        max-width: 600px;
        font-size: 45px
    }

.home_selectedApps__AAZ18 {
    padding-bottom: 20px;
    margin-top: 50px
}

@media(max-width:590px) {
    .home_intro__fqxcS {
        padding-top: 0 !important
    }

        .home_intro__fqxcS textarea {
            width: auto !important
        }
}
