@page "/apps"
@using global::Shared.Models
<PageTitle>Apps Supporting UPI</PageTitle>
<h1>Apps</h1>
<ul class="appList_appList__Lqce0 appList_popularList__wSCQd">
        @foreach (var i in apps)
        {
          
                
                <li class="prettyApp_app__csxfj" style="cursor: auto;opacity: 1">
                    <div>
                        <div class="prettyApp_imgContainer__ZYSkU">
                            <picture>
                                <img src="@i.LogoLink" alt="Logo for Zoom" draggable="false" />
                            </picture>
                        </div>
                        <h3 class="prettyApp_imgHeader__FkohJ">@i.Name</h3>
                        
                        
                        <div class="row">
                            
                            <div class="col-sm-5">
                                <a href="@i.PlayStoreLink">
                                <picture>
                                    <img style="width: 150px; height: 50px" src="https://involveduidevtest-c6v76esbxa-uc.a.run.app/assets/images/download-play-store.png" alt="Logo for Zoom" draggable="false"/>
                                </picture>
                                </a>
                            </div>
                            
                            <div class="col-sm-5">
                                <a href="@i.AppStoreLink">
                                    <picture>
                                        <img style="width: 150px; height: 50px" src="https://involveduidevtest-c6v76esbxa-uc.a.run.app/assets/images/download-app-store.png" alt="Logo for Zoom" draggable="false"/>
                                    </picture>
                                </a>
                             
                            </div>

                        </div>
                    </div>
                </li>
          
        }
    </ul>




@code {
    IEnumerable<AppResponse> apps;

    protected override async Task OnInitializedAsync()
    {
        apps = new List<AppResponse>()
        {
            new AppResponse()
            {
                Name = "Global Smart +",
                SiteLink = "https://globalimebank.com/globalsmart-plus",
                UpIPageLink = "https://globalimebank.com/globalsmart-plus",
                LogoLink = "https://scontent-bom1-2.xx.fbcdn.net/v/t39.30808-6/271094352_4684158571661418_3695959819052380578_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=1ASuyLeyF1wAX97Kygl&_nc_ht=scontent-bom1-2.xx&oh=00_AT-0Vj43O9PhqDXLqjngRskYZ5Ivuw7jRkoJBPg5KEVQbA&oe=6240853A",
                PlayStoreLink = "https://play.google.com/store/apps/details?id=com.swifttechnology.globalsmart&hl=en&gl=US",
                AppStoreLink = "https://apps.apple.com/us/app/global-smart-plus/id1565283667"
            }
        };
    }

}
