@page "/banks"
@using Server.Models
<PageTitle>Banks Supporting UPI</PageTitle>



<style>
  
    a{
        color: black;
        text-decoration: none;
        background-color: transparent;
    } 
    a:hover {
        color: black !important;
        text-decoration: none;
    }
</style>
    <h1 style="alignment: center">Banks</h1>
    <ul class="appList_appList__Lqce0 appList_popularList__wSCQd">
        @foreach (var i in apps)
        {
            <li class="prettyApp_app__csxfj">
                <div>
                    <div class="prettyApp_imgContainer__ZYSkU">
                        <picture>
                            <source srcset="@i.LogoLink" type="image/webp"/>
                            <source srcset="@i.LogoLink" type="image/png"/>
                            <img src="@i.LogoLink" alt="Logo for Zoom" draggable="false"/>
                        </picture>
                    </div>
                    <h3 class="prettyApp_imgHeader__FkohJ">@i.Name</h3>
                    <div class="prettyApp_moreInfo__QdzEa">
                        <span>
                            More Info
                            <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </span>
                    </div>
                </div>
            </li>
        }
    </ul>


@code {
    IEnumerable<BankResponse> apps;

    protected override async Task OnInitializedAsync()
    {
        apps = new List<BankResponse>()
        {
            new BankResponse()
            {
                Name = "Global IME Bank",
                SiteLink = "https://globalimebank.com/",
                UpIPageLink = "https://www.facebook.com/paymentnepal/posts/678819913535784",
                LogoLink = "https://scontent-bom1-2.xx.fbcdn.net/v/t39.30808-6/271094352_4684158571661418_3695959819052380578_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=1ASuyLeyF1wAX97Kygl&_nc_ht=scontent-bom1-2.xx&oh=00_AT-0Vj43O9PhqDXLqjngRskYZ5Ivuw7jRkoJBPg5KEVQbA&oe=6240853A"
            }
        };
    }
}
