@page "/banks"
@using Server.Models
<PageTitle>Banks Supporting UPI</PageTitle>


<style>
  
    a{
        color: black;
        text-decoration: none;
        background-color: transparent;
    } 
    a:hover {
        color: black !important;
        text-decoration: none;
    }
</style>
<h1 style="alignment: center">Banks</h1>
<ul class="appList_appList__Lqce0 appList_popularList__wSCQd">
    @foreach (var i in apps)
    {
        <li class="prettyApp_app__csxfj">
            <div>
                <div class="prettyApp_imgContainer__ZYSkU">
                    <picture>
                        <source srcset="@i.LogoLink" type="image/webp"/>
                        <source srcset="@i.LogoLink" type="image/png"/>
                        <img src="@i.LogoLink" alt="Logo for Zoom" draggable="false"/>
                    </picture>
                </div>
                <h3 class="prettyApp_imgHeader__FkohJ">@i.Name</h3>
            </div>
        </li>
    }
</ul>


@code {
    IEnumerable<BankResponse> apps;

    protected override async Task OnInitializedAsync()
    {
        apps = new List<BankResponse>()
        {
            new BankResponse()
            {
                Name = "Global IME Bank",
                SiteLink = "https://globalimebank.com/",
                UpIPageLink = "https://www.facebook.com/paymentnepal/posts/678819913535784",
                LogoLink = "/logo/GlobalIMEBank.png"
            }
        };
    }

}
