@page "/banks"
@using Server.Models
@using global::Shared.Interfaces
@using global::Shared
<PageTitle>Banks Supporting UPI</PageTitle>
@inject IDataService _dataService;

<style>
  
    a{
        color: black;
        text-decoration: none;
        background-color: transparent;
    } 
    a:hover {
        color: black !important;
        text-decoration: none;
    }
</style>
<h1 style="alignment: center">Banks</h1>
<ul class="appList_appList__Lqce0 appList_popularList__wSCQd">
    @foreach (var i in apps)
    {
        <li class="prettyApp_app__csxfj">
            <div>
                <div class="prettyApp_imgContainer__ZYSkU">
                    <picture>
                        <img src="@StaticContent.StaticUrl/logo/@i.LogoLink" alt="Logo for Zoom" draggable="false"/>
                    </picture>
                </div>
                <h3 class="prettyApp_imgHeader__FkohJ">@i.Name</h3>
            </div>
        </li>
    }
</ul>


@code {
    IEnumerable<BankResponse> apps= new List<BankResponse>();

    protected override async Task OnInitializedAsync()
    {
        apps=await _dataService.GetBanks();
    }

}
