@page "/"
<PageTitle>UPI Nepal</PageTitle>

    
      <div class="container">
        <div>
          <div class="homeBlock">
            <div class="box">
              <h2 class="blockHeader">Featured Packs</h2><a class="button small" href="https://winstall.app/packs"><svg
                  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                  stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                  <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
                  <path
                    d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                  </path>
                  <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                  <line x1="12" y1="22.08" x2="12" y2="12"></line>
                </svg>View All</a>
            </div>
            <h3 class="blockSubtitle">Just got a new Windows device? Start with our favourites. Click the + sign to
              include an app on your install script.</h3>
            <div class="recommendations_recommendations__ltVyY">
              <div class="recommendations_recommendation__DW1Y_"><a id="starWine"
                  class="recommendations_packHeader__xy35c" href="https://winstall.app/packs/A6JzO22Y1"><svg
                    stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                  </svg>
                  <h3>Work From Home</h3>
                  <p>Get work done from home.</p>
                </a>
                <div class="recommendations_packListContainer__MzQWG">
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Microsoft.Teams">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/teams.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/teams.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/teams.png"
                            alt="Logo for Microsoft Teams" draggable="false">
                        </picture>
                      </div>
                      <h4>Microsoft Teams</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a href="https://winstall.app/apps/Zoom.Zoom">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/zoom.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/zoom.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/zoom.png" alt="Logo for Zoom"
                            draggable="false">
                        </picture>
                      </div>
                      <h4>Zoom</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a href="https://winstall.app/apps/Notion.Notion">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/notion.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/notion.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/notion.png" alt="Logo for Notion"
                            draggable="false">
                        </picture>
                      </div>
                      <h4>Notion</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/SlackTechnologies.Slack">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/SlackTechnologies.Slack.webp"
                            type="image/webp">
                          <source srcset="https://api.winstall.app/icons/SlackTechnologies.Slack.png" type="image/png">
                          <img src="./winstall - GUI for Windows Package Manager_files/SlackTechnologies.Slack.png"
                            alt="Logo for Slack" draggable="false">
                        </picture>
                      </div>
                      <h4>Slack</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Toggl.TogglDesktop"><span class="singleApp_noIcon__EjAU7">TT</span>
                      <h4>Toggl Track</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div><a class="button subtle recommendations_viewPack__2WCxE"
                    href="https://winstall.app/packs/A6JzO22Y1">View Pack <svg stroke="currentColor" fill="none"
                      stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em"
                      width="1em" xmlns="http://www.w3.org/2000/svg">
                      <polyline points="9 18 15 12 9 6"></polyline>
                    </svg></a>
                </div>
              </div>
              <div class="recommendations_recommendation__DW1Y_"><a id="deepBlue"
                  class="recommendations_packHeader__xy35c" href="https://winstall.app/packs/z3zuf1vVD"><svg
                    stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="2" y1="12" x2="22" y2="12"></line>
                    <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                    </path>
                  </svg>
                  <h3>Web Browsers</h3>
                  <p>The top web browsers we love.</p>
                </a>
                <div class="recommendations_packListContainer__MzQWG">
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Mozilla.Firefox">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/firefox.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/firefox.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/firefox.png"
                            alt="Logo for Mozilla Firefox" draggable="false">
                        </picture>
                      </div>
                      <h4>Mozilla Firefox</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/BraveSoftware.BraveBrowser">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/BraveSoftware.BraveBrowser.webp"
                            type="image/webp">
                          <source srcset="https://api.winstall.app/icons/BraveSoftware.BraveBrowser.png" type="image/png">
                          <img src="./winstall - GUI for Windows Package Manager_files/BraveSoftware.BraveBrowser.png"
                            alt="Logo for Brave" draggable="false">
                        </picture>
                      </div>
                      <h4>Brave</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a href="https://winstall.app/apps/Opera.Opera">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/Opera.Opera.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/Opera.Opera.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/Opera.Opera.png"
                            alt="Logo for Opera Stable" draggable="false">
                        </picture>
                      </div>
                      <h4>Opera Stable</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/VivaldiTechnologies.Vivaldi">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/VivaldiTechnologies.Vivaldi.webp"
                            type="image/webp">
                          <source srcset="https://api.winstall.app/icons/VivaldiTechnologies.Vivaldi.png"
                            type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/VivaldiTechnologies.Vivaldi.png"
                            alt="Logo for Vivaldi" draggable="false">
                        </picture>
                      </div>
                      <h4>Vivaldi</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a href="https://winstall.app/apps/Opera.OperaGX">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/Opera.OperaGX.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/Opera.OperaGX.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/Opera.OperaGX.png"
                            alt="Logo for Opera GX Stable" draggable="false">
                        </picture>
                      </div>
                      <h4>Opera GX Stable</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div><a class="button subtle recommendations_viewPack__2WCxE"
                    href="https://winstall.app/packs/z3zuf1vVD">View Pack <svg stroke="currentColor" fill="none"
                      stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em"
                      width="1em" xmlns="http://www.w3.org/2000/svg">
                      <polyline points="9 18 15 12 9 6"></polyline>
                    </svg></a>
                </div>
              </div>
              <div class="recommendations_recommendation__DW1Y_"><a id="winterNeva"
                  class="recommendations_packHeader__xy35c" href="https://winstall.app/packs/ur23Tk6Sf"><svg
                    stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <polygon
                      points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                    </polygon>
                  </svg>
                  <h3>Essential Tools</h3>
                  <p>Checkout these cool utilities.</p>
                </a>
                <div class="recommendations_packListContainer__MzQWG">
                  <div class="recommendations_appContainer__v8Eyb null"><a href="https://winstall.app/apps/ShareX.ShareX">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/sharex.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/sharex.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/sharex.png" alt="Logo for ShareX"
                            draggable="false">
                        </picture>
                      </div>
                      <h4>ShareX</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/QL-Win.QuickLook"><span class="singleApp_noIcon__EjAU7">Q</span>
                      <h4>QuickLook</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Notepad++.Notepad++">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/npp.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/npp.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/npp.png" alt="Logo for Notepad++"
                            draggable="false">
                        </picture>
                      </div>
                      <h4>Notepad++</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a href="https://winstall.app/apps/GIMP.GIMP">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/GIMP.GIMP.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/GIMP.GIMP.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/GIMP.GIMP.png" alt="Logo for GIMP"
                            draggable="false">
                        </picture>
                      </div>
                      <h4>GIMP</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/OBSProject.OBSStudio">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/obs.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/obs.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/obs.png" alt="Logo for OBS Studio"
                            draggable="false">
                        </picture>
                      </div>
                      <h4>OBS Studio</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div><a class="button subtle recommendations_viewPack__2WCxE"
                    href="https://winstall.app/packs/ur23Tk6Sf">View Pack <svg stroke="currentColor" fill="none"
                      stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em"
                      width="1em" xmlns="http://www.w3.org/2000/svg">
                      <polyline points="9 18 15 12 9 6"></polyline>
                    </svg></a>
                </div>
              </div>
              <div class="recommendations_recommendation__DW1Y_"><a id="purpleDivision"
                  class="recommendations_packHeader__xy35c" href="https://winstall.app/packs/qO_m22F6k"><svg
                    stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 18V5l12-2v13"></path>
                    <circle cx="6" cy="18" r="3"></circle>
                    <circle cx="18" cy="16" r="3"></circle>
                  </svg>
                  <h3>Entertainment</h3>
                  <p>All the popular music and video apps.</p>
                </a>
                <div class="recommendations_packListContainer__MzQWG">
                  <div class="recommendations_appContainer__v8Eyb null"><a href="https://winstall.app/apps/Apple.iTunes">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/Apple.iTunes.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/Apple.iTunes.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/Apple.iTunes.png"
                            alt="Logo for iTunes" draggable="false">
                        </picture>
                      </div>
                      <h4>iTunes</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a href="https://winstall.app/apps/Deezer.Deezer">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/Deezer.Deezer.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/Deezer.Deezer.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/Deezer.Deezer.png"
                            alt="Logo for Deezer" draggable="false">
                        </picture>
                      </div>
                      <h4>Deezer</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a href="https://winstall.app/apps/VideoLAN.VLC">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/VideoLAN.VLC.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/VideoLAN.VLC.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/VideoLAN.VLC.png"
                            alt="Logo for VLC media player" draggable="false">
                        </picture>
                      </div>
                      <h4>VLC media player</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Amazon.Music"><span class="singleApp_noIcon__EjAU7">AM</span>
                      <h4>Amazon Music</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Ytmdesktop.Ytmdesktop">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/Ytmdesktop.Ytmdesktop.webp"
                            type="image/webp">
                          <source srcset="https://api.winstall.app/icons/Ytmdesktop.Ytmdesktop.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/Ytmdesktop.Ytmdesktop.png"
                            alt="Logo for YouTube Music Desktop App" draggable="false">
                        </picture>
                      </div>
                      <h4>YouTube Music Desktop App</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div><a class="button subtle recommendations_viewPack__2WCxE"
                    href="https://winstall.app/packs/qO_m22F6k">View Pack <svg stroke="currentColor" fill="none"
                      stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em"
                      width="1em" xmlns="http://www.w3.org/2000/svg">
                      <polyline points="9 18 15 12 9 6"></polyline>
                    </svg></a>
                </div>
              </div>
              <div class="recommendations_recommendation__DW1Y_"><a id="loveKiss"
                  class="recommendations_packHeader__xy35c" href="https://winstall.app/packs/Jtght2FO5"><svg
                    stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="22" y1="12" x2="18" y2="12"></line>
                    <line x1="6" y1="12" x2="2" y2="12"></line>
                    <line x1="12" y1="6" x2="12" y2="2"></line>
                    <line x1="12" y1="22" x2="12" y2="18"></line>
                  </svg>
                  <h3>Gaming</h3>
                  <p>Get ready for the battle with our favourite gaming apps.</p>
                </a>
                <div class="recommendations_packListContainer__MzQWG">
                  <div class="recommendations_appContainer__v8Eyb null"><a href="https://winstall.app/apps/Valve.Steam">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/Valve.Steam.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/Valve.Steam.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/Valve.Steam.png" alt="Logo for Steam"
                            draggable="false">
                        </picture>
                      </div>
                      <h4>Steam</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Discord.Discord">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/discord.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/discord.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/discord.png" alt="Logo for Discord"
                            draggable="false">
                        </picture>
                      </div>
                      <h4>Discord</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/EpicGames.EpicGamesLauncher">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/EpicGames.EpicGamesLauncher.webp"
                            type="image/webp">
                          <source srcset="https://api.winstall.app/icons/EpicGames.EpicGamesLauncher.png"
                            type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/EpicGames.EpicGamesLauncher.png"
                            alt="Logo for Epic Games Launcher" draggable="false">
                        </picture>
                      </div>
                      <h4>Epic Games Launcher</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Nvidia.GeForceExperience">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/Nvidia.GeForceExperience.webp"
                            type="image/webp">
                          <source srcset="https://api.winstall.app/icons/Nvidia.GeForceExperience.png" type="image/png">
                          <img src="./winstall - GUI for Windows Package Manager_files/Nvidia.GeForceExperience.png"
                            alt="Logo for NVIDIA GeForce Experience" draggable="false">
                        </picture>
                      </div>
                      <h4>NVIDIA GeForce Experience</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Playnite.Playnite">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/Playnite.Playnite.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/Playnite.Playnite.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/Playnite.Playnite.png"
                            alt="Logo for Playnite" draggable="false">
                        </picture>
                      </div>
                      <h4>Playnite</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div><a class="button subtle recommendations_viewPack__2WCxE"
                    href="https://winstall.app/packs/Jtght2FO5">View Pack <svg stroke="currentColor" fill="none"
                      stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em"
                      width="1em" xmlns="http://www.w3.org/2000/svg">
                      <polyline points="9 18 15 12 9 6"></polyline>
                    </svg></a>
                </div>
              </div>
              <div class="recommendations_recommendation__DW1Y_"><a id="starWine"
                  class="recommendations_packHeader__xy35c" href="https://winstall.app/packs/3glB-CGXA"><svg
                    stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <polyline points="16 18 22 12 16 6"></polyline>
                    <polyline points="8 6 2 12 8 18"></polyline>
                  </svg>
                  <h3>Developers</h3>
                  <p>[Steve Ballmer voice] Developers! Developers! Developers!</p>
                </a>
                <div class="recommendations_packListContainer__MzQWG">
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Notepad++.Notepad++">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/npp.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/npp.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/npp.png" alt="Logo for Notepad++"
                            draggable="false">
                        </picture>
                      </div>
                      <h4>Notepad++</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/PenguinLabs.Cacher">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/PenguinLabs.Cacher.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/PenguinLabs.Cacher.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/PenguinLabs.Cacher.png"
                            alt="Logo for Cacher" draggable="false">
                        </picture>
                      </div>
                      <h4>Cacher</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Microsoft.WindowsTerminal">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/terminal.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/terminal.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/terminal.png"
                            alt="Logo for Windows Terminal" draggable="false">
                        </picture>
                      </div>
                      <h4>Windows Terminal</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/GitHub.GitHubDesktop"><span
                        class="singleApp_noIcon__EjAU7">GD</span>
                      <h4>GitHub Desktop</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/GitHub.cli"><span class="singleApp_noIcon__EjAU7">GC</span>
                      <h4>GitHub CLI</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div><a class="button subtle recommendations_viewPack__2WCxE"
                    href="https://winstall.app/packs/3glB-CGXA">View Pack <svg stroke="currentColor" fill="none"
                      stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em"
                      width="1em" xmlns="http://www.w3.org/2000/svg">
                      <polyline points="9 18 15 12 9 6"></polyline>
                    </svg></a>
                </div>
              </div>
              <div class="recommendations_recommendation__DW1Y_"><a id="deepBlue"
                  class="recommendations_packHeader__xy35c" href="https://winstall.app/packs/NYWPVq9ct"><svg
                    stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                    <circle cx="8.5" cy="7" r="4"></circle>
                    <line x1="20" y1="8" x2="20" y2="14"></line>
                    <line x1="23" y1="11" x2="17" y2="11"></line>
                  </svg>
                  <h3>Social Media</h3>
                  <p>Our favourite social and communication apps.</p>
                </a>
                <div class="recommendations_packListContainer__MzQWG">
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/MehediHassan.Tweeten">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/tweeten.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/tweeten.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/tweeten.png" alt="Logo for Tweeten"
                            draggable="false">
                        </picture>
                      </div>
                      <h4>Tweeten</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Caprine.Caprine">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/Caprine.Caprine.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/Caprine.Caprine.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/Caprine.Caprine.png"
                            alt="Logo for Caprine" draggable="false">
                        </picture>
                      </div>
                      <h4>Caprine</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Microsoft.Skype">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/Microsoft.Skype.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/Microsoft.Skype.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/Microsoft.Skype.png"
                            alt="Logo for Skype" draggable="false">
                        </picture>
                      </div>
                      <h4>Skype</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/AmineMouafik.Ferdi">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/AmineMouafik.Ferdi.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/AmineMouafik.Ferdi.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/AmineMouafik.Ferdi.png"
                            alt="Logo for Ferdi" draggable="false">
                        </picture>
                      </div>
                      <h4>Ferdi</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Discord.Discord">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/discord.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/discord.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/discord.png" alt="Logo for Discord"
                            draggable="false">
                        </picture>
                      </div>
                      <h4>Discord</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div><a class="button subtle recommendations_viewPack__2WCxE"
                    href="https://winstall.app/packs/NYWPVq9ct">View Pack <svg stroke="currentColor" fill="none"
                      stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em"
                      width="1em" xmlns="http://www.w3.org/2000/svg">
                      <polyline points="9 18 15 12 9 6"></polyline>
                    </svg></a>
                </div>
              </div>
              <div class="recommendations_recommendation__DW1Y_"><a id="purpleDivision"
                  class="recommendations_packHeader__xy35c" href="https://winstall.app/packs/yphy7XItI"><svg
                    stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                    stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                    <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                  </svg>
                  <h3>School</h3>
                  <p>Get ready for online learning with these apps.</p>
                </a>
                <div class="recommendations_packListContainer__MzQWG">
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/evernote.evernote">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/evernote.evernote.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/evernote.evernote.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/evernote.evernote.png"
                            alt="Logo for Evernote" draggable="false">
                        </picture>
                      </div>
                      <h4>Evernote</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Qalculate.Qalculate">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/Qalculate.Qalculate.webp" type="image/webp">
                          <source srcset="https://api.winstall.app/icons/Qalculate.Qalculate.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/Qalculate.Qalculate.png"
                            alt="Logo for Qalculate!" draggable="false">
                        </picture>
                      </div>
                      <h4>Qalculate!</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a href="https://winstall.app/apps/Zoom.Zoom">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/zoom.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/zoom.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/zoom.png" alt="Logo for Zoom"
                            draggable="false">
                        </picture>
                      </div>
                      <h4>Zoom</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Microsoft.Teams">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="/assets/apps/teams.webp" type="image/webp">
                          <source srcset="/assets/apps/fallback/teams.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/teams.png"
                            alt="Logo for Microsoft Teams" draggable="false">
                        </picture>
                      </div>
                      <h4>Microsoft Teams</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div>
                  <div class="recommendations_appContainer__v8Eyb null"><a
                      href="https://winstall.app/apps/Automattic.Simplenote">
                      <div class="lazyload-wrapper ">
                        <picture>
                          <source srcset="https://api.winstall.app/icons/next/Automattic.Simplenote.webp"
                            type="image/webp">
                          <source srcset="https://api.winstall.app/icons/Automattic.Simplenote.png" type="image/png"><img
                            src="./winstall - GUI for Windows Package Manager_files/Automattic.Simplenote.png"
                            alt="Logo for Simplenote" draggable="false">
                        </picture>
                      </div>
                      <h4>Simplenote</h4>
                    </a><button class="recommendations_selectApp__3fD0y" aria-label="Select app"><svg
                        stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                        stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></button></div><a class="button subtle recommendations_viewPack__2WCxE"
                    href="https://winstall.app/packs/yphy7XItI">View Pack <svg stroke="currentColor" fill="none"
                      stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="1em"
                      width="1em" xmlns="http://www.w3.org/2000/svg">
                      <polyline points="9 18 15 12 9 6"></polyline>
                    </svg></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  


@*<div class="row">
    <div class="col">
        <Apps></Apps>
    </div>
    <div class="col">
        <Banks></Banks>
    </div>
</div>*@

