.light {
    --main-bg: #fff;
    --card-bg: #e9eaed;
    --textColor: #333;
    --altTextColor: #fff;
    --accent: #9b2eff;
    --altAccent: #7214c9;
    --error: maroon;
    --positive-bg: #afffc9
}

    .light .sun {
        display: none
    }

.dark {
    --main-bg: #121212;
    --card-bg: #2d2e30;
    --textColor: #fff;
    --altTextColor: #333;
    --accent: #9b2eff;
    --altAccent: #6b14bd;
    --error: #ff9595;
    --positive-bg: #19a246
}

    .dark .react-loading-skeleton {
        background-color: #2d2f30 !important;
        background-image: linear-gradient(90deg,#2d2f30,#282828,#2d2f30) !important
    }

    .dark .moon {
        display: none
    }

    .dark select option {
        color: var(--textColor)
    }

html {
    scroll-behavior: smooth
}

body {
    font-family: Nunito,sans-serif;
    background-color: var(--main-bg);
    color: var(--textColor);
    margin: 0;
    padding: 0;
    overflow-x: hidden
}

header {
    padding: 20px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

    header a {
        text-decoration: none;
        font-weight: 700;
        font-size: 28px;
        color: var(--accent);
        border-bottom: 5px solid var(--textColor);
        transition: all .3s ease-in-out
    }

        .dark header a, header a:hover {
            border-bottom: 5px solid var(--accent)
        }

.dark header a {
    color: var(--textColor)
}

    .dark header a:hover {
        color: var(--accent)
    }

.dark .button.accent {
    background-color: var(--accent);
    color: var(--textColor);
    margin-right: 20px
}

    .dark .button.accent:focus, .dark .button.accent:hover {
        opacity: 1;
        background-color: var(--altAccent)
    }

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 50px
}

input[type=text].search {
    border: 0;
    outline: 0;
    border-radius: 50px;
    height: 50px;
    background-color: var(--card-bg);
    padding: 0 20px;
    font-size: 17px;
    min-width: 250px;
    color: var(--textColor);
    box-shadow: 0 3px 5px rgba(0,0,0,.25)
}

.box {
    justify-content: space-between
}

.box, .box2 {
    display: flex;
    align-items: center
}

.illu-box {
    display: grid;
    grid-template-columns: 1fr 1fr
}

    .illu-box .art {
        height: 0;
        position: relative
    }

        .illu-box .art img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
            margin: 0 auto;
            display: block;
            max-width: 280px
        }

.generate-container .art {
    margin-top: 50px
}

.bottomBar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #9b2eff;
    color: #fff;
    line-height: 70px;
    box-shadow: -3px -6px 20px rgba(0,0,0,.18);
    z-index: 9
}

    .bottomBar .inner {
        padding: 0 50px;
        display: flex;
        justify-content: space-between;
        align-self: center
    }

        .bottomBar .inner p {
            line-height: 75px;
            font-size: 20px;
            padding: 0;
            margin: 0
        }

        .bottomBar .inner .controls {
            display: grid;
            grid-template-columns: 50px 1fr 1fr;
            grid-gap: 20px
        }

            .bottomBar .inner .controls .clear {
                background-color: var(--card-bg);
                opacity: .75;
                padding: 0 5px;
                justify-content: center
            }

                .bottomBar .inner .controls .clear svg {
                    padding: 0
                }

                .bottomBar .inner .controls .clear:hover {
                    opacity: 1
                }

        .bottomBar .inner button {
            background-color: var(--main-bg);
            border: 0;
            outline: 0;
            height: 50px;
            margin-top: 11px;
            font-size: 18px;
            border-radius: 50px;
            padding: 0 20px;
            cursor: pointer;
            color: var(--textColor);
            transition: all .3s ease-in-out;
            box-shadow: 0 3px 5px rgba(0,0,0,.18);
            display: flex;
            align-items: center;
            font-family: Nunito,sans-serif
        }

            .bottomBar .inner button svg {
                padding-right: 10px;
                margin-top: 0;
                font-size: 20px
            }

            .bottomBar .inner button:disabled {
                opacity: .75;
                cursor: not-allowed
            }

                .bottomBar .inner button:disabled:hover {
                    background-color: var(--main-bg)
                }

                .bottomBar .inner button:disabled em {
                    max-width: 125px;
                    font-style: normal;
                    text-align: left;
                    font-size: 15px
                }

            .bottomBar .inner button em {
                font-style: normal;
                text-align: left;
                font-size: 18px
            }

            .bottomBar .inner button:hover {
                background-color: var(--card-bg)
            }

    .bottomBar p {
        padding: 0;
        margin: 0
    }

#gsc {
    display: none
}

.subtle {
    padding: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
    font-size: 16px !important;
    opacity: .55
}

    .subtle:hover {
        opacity: .55 !important
    }

.button {
    background-color: var(--card-bg);
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--textColor);
    font-size: 18px;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    transition: all .3s ease-in-out;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-family: Nunito,sans-serif
}

    .button:focus, .button:hover {
        opacity: .75
    }

    .button svg {
        padding-right: 10px;
        margin-top: 2px;
        font-size: 20px
    }

    .button.accent {
        background-color: var(--accent);
        color: var(--altTextColor);
        margin-right: 20px
    }

        .button.accent:focus, .button.accent:hover {
            opacity: 1;
            background-color: var(--altAccent)
        }

article h1, article h2, article h3 {
    display: inline-block;
    margin-bottom: 0
}

article p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px
}

article a {
    color: var(--textColor);
    border-bottom: 3px solid var(--accent);
    transition: all .3s ease-in-out;
    text-decoration: none;
    margin-bottom: 5px;
    display: inline-block
}

    article a:hover {
        opacity: .75
    }

@media(max-width:1190px) {
    .illu-box h1 {
        font-size: 35px !important
    }

    .illu-box .art img {
        width: 200px
    }

    .generate-container .art {
        display: none
    }
}

@media(max-width:510px) {
    .bottomBar .controls button {
        padding: 0 15px;
        font-size: 15px
    }

        .bottomBar .controls button em {
            font-size: 15px;
            text-align: center
        }

        .bottomBar .controls button svg {
            display: none
        }

    .bottomBar .inner button:disabled em {
        font-size: 12px;
        line-height: 13px
    }
}

@media(max-width:790px) {
    .generate-container textarea {
        width: 300px !important
    }

    .bottomBar .inner {
        justify-content: center !important;
        padding: 0 25px !important
    }

    .bottomBar .controls {
        grid-template-columns: 1fr 1fr 50px !important;
        grid-gap: 10px !important
    }

    .bottomBar .clear, .bottomBar p {
        display: none !important
    }

    .illu-box {
        display: block
    }

        .illu-box .art {
            display: none
        }
}

@media(max-width:590px) {
    header .preview {
        display: none
    }

    .container {
        padding: 20px 25px
    }
}

@media(max-width:495px) {
    .illu-box h1 {
        font-size: 30px !important
    }

    .box {
        display: grid;
        grid-gap: 10px
    }

    .button.small {
        margin-bottom: 10px !important
    }
}

@media(max-width:690px) {
    .controls {
        display: grid
    }
}

.switch {
    display: flex
}

    .switch #biscuit-label {
        padding-left: 10px;
        line-height: 28px
    }

    .switch.min {
        place-items: center
    }

        .switch.min .react-toggle {
            margin-bottom: 0
        }

.react-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin-bottom: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent
}

.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.react-toggle--disabled {
    cursor: not-allowed;
    opacity: .5;
    transition: opacity .25s
}

.react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #4d4d4d;
    transition: all .2s ease
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000
}

.react-toggle--checked .react-toggle-track {
    background-color: #4579d4
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #2d61ba
}

.react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    transition: opacity .25s ease
}

.react-toggle--checked .react-toggle-track-check, .react-toggle-track-x {
    opacity: 1;
    transition: opacity .25s ease
}

.react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px
}

.react-toggle--checked .react-toggle-track-x {
    opacity: 0
}

.react-toggle-thumb {
    transition: all .5s cubic-bezier(.23,1,.32,1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    background-color: #fafafa;
    box-sizing: border-box;
    transition: all .25s ease
}

.react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #4579d4
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    box-shadow: 0 0 5px 5px #0099e0
}

#nprogress {
    pointer-events: none
}

    #nprogress .bar {
        background: var(--accent);
        position: fixed;
        z-index: 1031;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px
    }

    #nprogress .peg {
        display: block;
        position: absolute;
        right: 0;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 7px var(--accent),0 0 3px var(--accent);
        opacity: 1;
        transform: rotate(3deg) translateY(-4px)
    }

    #nprogress .spinner {
        display: block;
        position: fixed;
        z-index: 1031;
        top: 15px;
        right: 15px
    }

    #nprogress .spinner-icon {
        width: 18px;
        height: 18px;
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
        border-right: 2px solid transparent;
        border-top: 2px solid transparent;
        border-top-color: var(--accent);
        border-left: 2px solid transparent;
        border-left-color: var(--accent);
        border-radius: 50%;
        -webkit-animation: nprogress-spinner .4s linear infinite;
        animation: nprogress-spinner .4s linear infinite
    }

.nprogress-custom-parent {
    overflow: hidden;
    position: relative
}

    .nprogress-custom-parent #nprogress .bar, .nprogress-custom-parent #nprogress .spinner {
        position: absolute
    }

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.homeBlock {
    padding-top: 20px
}

    .homeBlock h2.blockHeader {
        margin: 0;
        border-bottom: 3px solid var(--accent);
        padding-bottom: 5px;
        margin-bottom: 10px !important
    }

    .homeBlock h3.blockSubtitle {
        margin: 0;
        padding-top: 10px;
        opacity: .75
    }

    .homeBlock .button.small {
        padding: 5px 15px !important;
        margin: 0;
        height: 25px;
        font-size: 15px
    }

.skeleton-group {
    display: grid;
    grid-template-columns: 45px 180px;
    margin-bottom: 20px
}

    .skeleton-group.centre {
        justify-content: center;
        grid-template-columns: none;
        grid-auto-flow: column;
        grid-gap: 10px;
        margin: 16px 0
    }

.skeleton-button span {
    margin-top: 10px;
    border-radius: 50px !important
}

.skeleton-list {
    margin-top: 20px
}

    .skeleton-list .react-loading-skeleton {
        display: block !important;
        margin-bottom: 10px
    }

    .skeleton-list.left span {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 16px
    }

.largeApp {
    padding: 0;
    margin: 0
}

button {
    font-family: Nunito,sans-serif
}

#winterNeva {
    background-image: linear-gradient(0deg,#a8e063,#56ab2f)
}

#deepBlue {
    background-image: linear-gradient(90deg,#6a11cb 0,#2575fc)
}

#starWine {
    background-image: linear-gradient(12deg,#6e1bdc,#f138a7 100%)
}

#purpleDivision {
    background-image: linear-gradient(0deg,#aa39df 0,#9b2fff)
}

#loveKiss {
    background-image: linear-gradient(0deg,#ff0844 0,#ebaf35)
}

.lightText {
    color: #fff
}

.shown {
    display: flex !important
}

@media(max-width:900px) {
    .shown {
        display: block !important
    }
}

.center {
    margin: 0 auto
}

@media(max-width:500px) {
    .box2 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start
    }
}

.fBox {
    margin-top: auto
}

input[type=radio] {
    border-radius: 50% !important
}

input[type=checkbox], input[type=radio] {
    border: 2px solid var(--textColor) !important;
    border-radius: 2px;
    display: inline-block;
    height: 15px !important;
    margin: 0 10px 0 0 !important;
    outline: none !important;
    transition: all .1s linear !important;
    vertical-align: middle !important;
    width: 15px !important;
    -webkit-appearance: none !important;
    cursor: pointer;
    flex-shrink: 0
}

    input[type=checkbox]:focus, input[type=checkbox]:hover, input[type=radio]:focus, input[type=radio]:hover {
        border: 2px solid var(--altAccent) !important
    }

    input[type=checkbox]:checked, input[type=radio]:checked {
        background-color: var(--main-bg);
        border: 5px solid var(--accent) !important
    }

        input[type=checkbox]:checked:before, input[type=radio]:checked:before {
            display: block
        }

        input[type=checkbox]:checked:hover, input[type=radio]:checked:hover {
            border: 5px solid var(--altAccent) !important
        }

.powered-by a {
    display: flex;
    align-items: center;
    justify-content: space-around
}

    .powered-by a:hover {
        color: var(--textColor) !important
    }

    .powered-by a img {
        padding-top: 0 !important;
        margin-right: 0 !important;
        margin-left: 5px;
        width: 60px;
        height: auto
    }

@media(max-width:750px) {
    .powered-by a {
        display: inline
    }
}

.nav_nav__fL7mg {
    display: flex
}

    .nav_nav__fL7mg .nav_ddOnly__FZoUO {
        display: none
    }

    .nav_nav__fL7mg a, .nav_nav__fL7mg span {
        background-color: var(--card-bg);
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: all .3s ease-in-out;
        display: flex;
        align-self: center;
        justify-content: center;
        border: 0 !important;
        box-shadow: 0 3px 5px rgba(0,0,0,.25)
    }

        .nav_nav__fL7mg a:hover, .nav_nav__fL7mg span:hover {
            opacity: .75
        }

    .nav_nav__fL7mg .nav_justIcon__NqvmK {
        padding: 0;
        width: 50px
    }

        .nav_nav__fL7mg .nav_justIcon__NqvmK svg {
            padding-right: 0
        }

    .nav_nav__fL7mg .nav_user__2TPjh {
        padding: 0
    }

        .nav_nav__fL7mg .nav_user__2TPjh img {
            width: 50px;
            height: 50px;
            margin: 0
        }

    .nav_nav__fL7mg a {
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        padding: 0 20px;
        border-radius: 50px;
        margin-right: 15px;
        font-weight: 400;
        color: var(--textColor);
        display: flex;
        align-items: center
    }

        .nav_nav__fL7mg a p {
            margin: 0;
            padding: 0
        }

        .nav_nav__fL7mg a img {
            width: 25px;
            height: 25px;
            border-radius: 50px;
            margin-right: 10px
        }

        .nav_nav__fL7mg a svg {
            font-size: 18px;
            padding-right: 10px
        }

        .nav_nav__fL7mg a:hover {
            color: var(--textColor) !important
        }

    .nav_nav__fL7mg span {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 22px;
        margin-right: 15px
    }

        .nav_nav__fL7mg span svg {
            padding-top: 15px
        }

.nav_dropdown__uWhTN {
    display: none;
    background-color: var(--card-bg);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .3s ease-in-out;
    align-self: center;
    justify-content: center;
    place-items: center;
    border: 0 !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 22px;
    box-shadow: 0 3px 5px rgba(0,0,0,.25);
    color: inherit
}

    .nav_dropdown__uWhTN:hover {
        opacity: .75
    }

@media(max-width:590px) {
    .nav_nav__fL7mg {
        right: 30px !important
    }
}

@media(max-width:900px) {
    .nav_dropdown__uWhTN {
        display: flex
    }

    .nav_nav__fL7mg {
        display: none;
        position: absolute;
        right: 55px;
        top: 80px;
        z-index: 999;
        width: 200px;
        background-color: var(--card-bg);
        box-shadow: 0 3px 5px rgba(0,0,0,.25);
        border-radius: 10px;
        text-align: left;
        padding: 0 20px
    }

        .nav_nav__fL7mg a, .nav_nav__fL7mg span {
            background-color: transparent;
            box-shadow: none;
            border-radius: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            justify-content: flex-start
        }

        .nav_nav__fL7mg .nav_ddOnly__FZoUO {
            display: block;
            font-size: 20px;
            height: 50px;
            margin: 0;
            line-height: 50px
        }

        .nav_nav__fL7mg .nav_justIcon__NqvmK {
            width: auto
        }

            .nav_nav__fL7mg .nav_justIcon__NqvmK svg {
                padding-right: 10px
            }

        .nav_nav__fL7mg .nav_user__2TPjh img {
            width: 23px;
            height: 23px;
            margin-right: 10px
        }
}
